<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>350811108924-31qps3bcmbaqab8tnt9eal7bg0fnk1mm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0rKeS9Db7f3eZ8erOpwLZZ-S3P4NNKBo</string>
	<key>GCM_SENDER_ID</key>
	<string>350811108924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.gajrarbusservice</string>
	<key>PROJECT_ID</key>
	<string>microid-12368</string>
	<key>STORAGE_BUCKET</key>
	<string>microid-12368.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350811108924:ios:4a31ccc3967b06f9cfb539</string>
	<key>DATABASE_URL</key>
	<string>https://microid-12368.firebaseio.com</string>
</dict>
</plist>